*{
	margin: 0;
}

body{
	background-color: green;
}

#econtainer{

}

#ebar{
	border: 3px solid black;
	background-color: white;
	font-size: 20px;
	width: 180px;
	height: 60px;
	margin-left: 5%;
	margin-top: 5%;
}

#ename{
	margin-left: 10px;
}

#elvl{
	margin-left: 10px;
}

#ehpBar{
	width: 120px;
	height: 5px;
	background-color: lime;
	border: 1px solid grey;
	transition: margin 1s ease;
	margin-left: 10px;
	position: absolute;
}

#ehpBarGrey{
	width: 120px;
	height: 5px;
	background-color: grey;
	border: 1px solid grey;
	margin-left: 10px;
}

#epokemon{
	width: 100px;
	height: 230px;
	border: 1px solid black;
	float: right;
	background-color: red;
	margin-right: 20vw;
	margin-top: -10vh;
}

#bar{
	border: 3px solid black;
	background-color: white;
	font-size: 20px;
	width: 180px;
	height: 80px;
	float: right;
	margin-right: -20%;
	margin-top: 40vh;
}

#name{
	margin-left: 10px;
}

#lvl{
	margin-left: 10px;
}

#hpBar{
	width: 120px;
	height: 5px;
	background-color: lime;
	border: 1px solid grey;
	transition: margin 1s ease;
	margin-left: 10px;
	position: absolute;
}

#hpBarGrey{
	width: 120px;
	height: 5px;
	background-color: grey;
	border: 1px solid grey;
	margin-left: 10px;
}

#hp{
	margin-left: 10px;
}

#pokemon{
	width: 100px;
	height: 230px;
	position: absolute;
	border: 1px solid black;
	background-color: blue;
	margin-top: 20vh;
	margin-left: 10vw;
}

#bottom{
	border: 4px solid black;
	background-color: teal;
	width: calc(100vw - 8px);
	height: 150px;
	margin-top: calc(100vh - 225px - 5%);
	font-size: 40px;
}

#text{
	width: 50vw;
	position: absolute;
	padding: 10px 10px;
}

#attackButtons{
	border: 4px solid grey;
	background-color: white;
	width: 50vw;
	max-width: 580px;
	height: 142px;
	float: right;
	position: relative;
}

#op1{
	position: relative;
	float: left;
	margin-left: 70px;
}

#op2{
	position: relative;
	float: right;
	margin-right: 70px;
}

#op3{
	position: relative;
	float: left;
	margin-left: 70px;
}

#op4{
	position: relative;
	float: right;
	margin-right: 70px;
}

@media(max-width: 880px){
	#bottom{
		font-size: 25px;
		height: 100px;
		margin-top: calc(100vh - 174px - 5%);
	}

	#attackButtons{
		height: 92px;
		min-width: 320px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}

	#epokemon {
		margin-right: 10vh;
	}

	#pokemon {
		margin-top: 10vw;
		margin-left: 10vh;
	}

	#bar {
		margin-top: 40vw;
	}

	#bottom {
		width: 100vh;
		margin-top: calc(100vw - 173px - 5%);
	}

	#op1{margin-left: 50px;}

	#op2{margin-right: 50px;}

	#op3{margin-left: 50px;}

	#op4{margin-right: 50px;}
}