*{
	margin: 0;
}

body {
	background-image: url("../images/TitleScreenBackground.png"); 
	width: 100vw;
	height: 100vh;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	overflow: hidden;
}

.buttons {
	width: 8rem;
	height: 3rem;
	margin: 15px auto;
	font-size: 25px;
	border: 2px solid grey;
	overflow: visible;
	z-index: 1;
	position: relative;
	background-color: #8e2a25;
	opacity: 0.9;
}

.buttons:hover {
	background-color: #ce362e;
}

#ballButton {
	z-index: 4;
	position: relative;
	margin: 0 auto;
}

.wrap{
	margin-left:50%;
	position:absolute;
}
.wrap>img{
	margin-left:-50%;
	position:relative;
}

#pokeball1 {
	width: 350px;
	height: 350px;
	z-index: 2;
	transition: margin 2s ease;
}

#pokeball2 {
	width: 350px;
	height: 350px;
	z-index: 2;
	transition: margin 2s ease;
}

.overlay{
	z-index: 4;
}

@media(min-width: 786px) {
	#pokeball1 {
		width: 280px;
		height: 280px;
	}

	#pokeball2 {
		width: 280px;
		height: 280px;
	}
}